[Unit]
Description=Suricata IDS/IDP daemon
After=network.target
Requires=network.target
Documentation=man:suricata(8) man:suricatasc(8)

[Service]
User=root
Type=simple
PIDFILE=/var/run/suricata.pid
ExecStart=/usr/bin/suricata -q 0 -c /etc/suricata/suricata.yaml
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill $MAINPID

[Install]
WantedBy=multi-user.target