# Custom rule to allow and alert inbound traffic on port 5555
alert tcp any any -> $HOME_NET 5555 (msg:"EXTERNAL_NET:any -> $HOME_NET:5555"; flow:to_server, established; priority:1; sid:1000001;)

# drop all outbound traffic
# drop ip $HOME_NET any -> $EXTERNAL_NET any (msg:"Drop all traffic from HOME_NET to EXTERNAL_NET"; priority:1; classtype: bad-unknown; sid:1000002;)