# Custom rule to allow and alert inbound traffic on port any
alert tcp any any -> any any (msg:"any:any -> any:any"; flow: established; priority:2; sid:1000001;)
